@font-face {
    font-family: 'Nightmare';
    src: url('./fonts/NightmareBeforeChristmas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;
    font-family: 'Nightmare', cursive;
    background-image: url('./images/nbcMoon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    font-size: x-large;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

h1, h2, h3, h4, p {
    text-shadow: 2px 2px 6px black;
}

#jack-img {
    width: 300px;
    border-radius: 50%;
    border: 6px solid gray;
    margin-bottom: 30px;
}

#name, #status {
    background: gray;
    padding: 0 15px;
    border-radius: 10px;
    margin:10px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 0 auto 30px auto;
    max-width: 400px;
    height: 400px;
    border: 6px inset purple;
    border-radius: 10px;
    background-image: url("images/spookyGift.jpeg");
    background-size: cover;
}

#gift-img-food:hover {
    background-image: url("images/creepy-halloween-food.jpg");
    background-position: center;
}

#gift-img-zero:hover {
    background-image: url("images/zero.webp");
    background-position: center;
}

#gift-img-oogie:hover {
    background-image: url("images/oogieboogie.gif");
    background-position: center;
}

#gift-img-sally:hover {
    background-image: url("images/sally.jpg");
    background-position: center;
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}